a.bracket-link:link {
	text-decoration : none; 
	color: grey;
	font-weight: normal;
	
	-o-transition:color .5s;
  	-ms-transition:color .5s;
  	-moz-transition:color .5s;
  	-webkit-transition:color .5s;
  	transition:color .5s;
}

a.bracket-link:visited {
	color: grey;
	font-weight: normal;

	-o-transition:color .5s;
  	-ms-transition:color .5s;
  	-moz-transition:color .5s;
  	-webkit-transition:color .5s;
  	transition:color .5s;
}

a.bracket-link:hover {
	color: black;
	font-weight: normal;
}

a.nav-link:link {
	text-decoration : none;
}

body {
	background-color: white;
	color: black;
}

img.splash {
	z-index: 0;
	width: 90vh;
	height: 90vh;
	vertical-align: middle;
	opacity: 100;
	
}

.main-title {
    position: absolute;
    top: 32vh;
    left: 26.75vw;

	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	text-align: left;
	font-size: 8.5vw;
	
	-webkit-text-fill-color: transparent;
	color: transparent;
	
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

.main-subtitle {
    position: absolute;
    top: 50vh;
    left: 26.75vw;

	font-family: 'Inconsolata', monospace;
	
	-webkit-text-stroke-width: 0px;
	-webkit-text-stroke-color: black;
	font-size: 1.5vw;
	color: black;
	-webkit-text-fill-color: black;
	font-weight: normal;
	text-align: left;
}

.nav {
	position:absolute;
    bottom: 15px;

	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	font-size: 1.5vw;
	text-align:left;
}

.nav-action-left {
	position: absolute;
	
	margin: 0px;
	margin-left: 10vw;
	padding: 0px;
	
	transform: translateY(10px);

	font-family: 'Inconsolata', monospace;
	font-weight: normal;
	font-size: 1.5vw;
	text-align:left;
	color: grey;
	vertical-align: bottom;
}

.nav-action-right {
	position: relative;
	
	margin-left: 9vw;
	padding-left: 0px;
	
	transform: translateY(10px);

	font-family: 'Inconsolata', monospace;
	font-weight: normal;
	font-size: 1.5vw;
	text-align: center;
	color: grey;
	vertical-align: center;
}

.nav-author {
	position: relative;
	display: inline-block;
	
	transform: translateY(.12vw);
		
	font-weight: normal;
	margin: 0px;
	padding-top: .4vw;
	margin-left: 26.75vw;
	color: white;
	text-align: center;
	vertical-align: top;
	
	width: 2.5vw;
	height: 2.1vw;
	background-color: black;
}

.nav-divider {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	
	margin-left: 5px;
	margin-right: 5px;
	padding-top: .4vw;
	width: .25vw;
	height: 2.1vw;
	
	background-color: black;
}

.nav-endcap {
	position: relative;
    display: inline-block;
	vertical-align: middle;
	
	margin-left: 31.5vw;
	margin-right: 0px;
	padding-top: .4vw;
	padding-right: 0;
	width: .25vw;
	height: 2.1vw;
	
	background-color: black;
}

.nav-project-schema {
	position: relative;
	display: inline-block;
		
	font-weight: normal;
	margin: 0px;
	padding-top: .4vw;
	color: black;
	text-align: center;
	vertical-align: middle;
	
	width: 2.5vw;
	height: 2.1vw;
	background-color: white;
	
	outline-style: solid;
	outline-color: black;
	outline-width: 2px;
	outline-offset: -2px;

}

.nav-project-plugin {
	position: relative;
	display: inline-block;
		
	font-weight: normal;
	margin: 0px;
	padding-top: .4vw;
	color: black;
	text-align: center;
	vertical-align: middle;
	
	width: 2.5vw;
	height: 2.1vw;
	background-color: white;
	
	border-style: solid;
	border-color: black;
	border-width: 2px;
		
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/*
  -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
*/