.html {
	margin: 0;
	padding: 0;
	
	overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FFFFFF;
}

.body {
	margin: 0;
	padding: 0;
	
}

.column {
	float: left;
	height: 95vh;
	
	margin: 0;
	padding: 0;
}

.left {
	width: 24%;
	
	margin: 0;
	padding: 0;
}

.right {
	width: 24%;
	
	margin: 0;
	padding: 0;	
}

.middle {
	width: 52%;
	
	overflow: hidden;
	
	margin: 0;
	padding: 0;
}

a.bracket-link {
	color: grey;
}

a.bracket-link:link {
	text-decoration : none; 
	color: grey;
	font-weight: normal;
	
	-o-transition:color .5s;
  	-ms-transition:color .5s;
  	-moz-transition:color .5s;
  	-webkit-transition:color .5s;
  	transition:color .5s;
}

a.bracket-link:visited {
	color: grey;
	font-weight: normal;

	-o-transition:color .5s;
  	-ms-transition:color .5s;
  	-moz-transition:color .5s;
  	-webkit-transition:color .5s;
  	transition:color .5s;
}

a.bracket-link:hover {
	color: black;
	font-weight: normal;
}

.nav-link {
	color: grey;
}

a.nav-link:link {
	color: grey;
	text-decoration : none;
	
	-o-transition:color .5s;
  	-ms-transition:color .5s;
  	-moz-transition:color .5s;
  	-webkit-transition:color .5s;
  	transition:color .5s;
}

a.nav-link:visited {
	color: grey;
	font-weight: normal;

	-o-transition:color .5s;
  	-ms-transition:color .5s;
  	-moz-transition:color .5s;
  	-webkit-transition:color .5s;
  	transition:color .5s;
}

a.nav-link:hover {
	color: black;
	font-weight: normal;
}

body {
	background-color: white;
}

splash {
	position: absolute;
	width: 52%;

	vertical-align: middle;
	opacity: 100;
	
}

.main-title {
    position: absolute;
    top: 32vh;
	margin: 0;
	padding: 0;
	
	width: 52%;
	text-align: center;

	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	font-size: 8.5vw;
	overflow-x: hidden;
	
	-webkit-text-fill-color: transparent;
	color: transparent;
	
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

.main-subtitle {
    position: absolute;
    top: 50vh;
	margin: 0;
	padding: 0;
	
	width: 52%;
	text-align: center;
	
	font-family: 'Inconsolata', monospace;
	
	-webkit-text-stroke-width: 0px;
	-webkit-text-stroke-color: black;
	font-size: 1.5vw;
	color: black;
	-webkit-text-fill-color: black;
	font-weight: normal;
}

.body-text {
	position: absolute;
	top: 3vh;	
	left: 25.5%;
	margin: 0;
	padding-top: 15vh;
	margin-top: 0;
	
	height: 80vh;
	width: 50%;
	
	overflow-y: hidden;
	
	font-family: 'Inconsolata', monospace;
	
	-webkit-text-stroke-color: black;
	font-size: 1.5vw;
	color: black;
	background-color: white;
	-webkit-text-fill-color: black;
	font-weight: normal;
}

.nav-action {	
	position: absolute;

	font-family: 'Inconsolata', monospace;
	font-weight: normal;
	font-size: 1.5vw;
		
	bottom: 15px;
		
	margin:0;
	padding:0;
	padding-top: .4vw;
	color: grey;
	text-align: center;
	vertical-align: top;
	
	width: 24%;
	height: 2.1vw;
}

.nav-projects {	
	position: absolute;

	font-family: 'Inconsolata', monospace;
	font-weight: normal;
	font-size: 1.5vw;
		
	bottom: 15px;
		
	margin:0;
	padding-top: .4vw;
	color: grey;
	text-align: center;
	vertical-align: top;
	
	width: 24%;
	height: 2.1vw;
}

/*
.nav-action:hover {
	color: black;
	
	-o-transition:color .5s;
  	-ms-transition:color .5s;
  	-moz-transition:color .5s;
  	-webkit-transition:color .5s;
  	transition:color .5s;
}
*/

.nav-action-left {
	position: absolute;

	font-family: 'Inconsolata', monospace;
	font-weight: normal;
	font-size: 1.5vw;
		
	bottom: 15px;
	left: 0%;
		
	margin:0;
	padding-top: .4vw;
	color: white;
	text-align: center;
	vertical-align: top;
	
	width: 24%;
	height: 2.1vw;
	background-color: black;
	
	outline-style: solid;
	outline-color: black;
	outline-width: 2px;
	outline-offset: -2px;
}

.nav-action-right {
	position: absolute;

	font-family: 'Inconsolata', monospace;
	font-weight: normal;
	font-size: 1.5vw;
		
	bottom: 15px;
	right: 0%;
		
	margin:0;
	padding-top: .4vw;
	color: white;
	text-align: center;
	vertical-align: top;
	
	width: 24%;
	height: 2.1vw;
	background-color: black;
	
	outline-style: solid;
	outline-color: black;
	outline-width: 2px;
	outline-offset: -2px;
}

.nav {
	position:absolute;
	width: 52%;
    bottom: 15px;

	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	font-size: 1.5vw;
}

.nav-author {
	position: relative;
	display: inline-block;
	padding-top: .4vw;
		
	font-weight: normal;
	margin: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 9.25%;
	color: white;
	text-align: center;
	vertical-align: top;
	
	width: 2.5vw;
	height: 2.1vw;
	background-color: black;
}

.nav-divider {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	
	margin-top: 0px;
	margin-bottom: 0px;
		
	margin-left: 2px;
	margin-right: 2px;
	width: 2px;
	height: 2.5vw;
	
	background-color: black;
}

.nav-endcap {
	position: relative;
    display: inline-block;
	vertical-align: middle;
	
	padding:0;
	margin-left: 0;
	margin-right: 0px;
	padding-top: .4vw;
	padding-right: 0;
	width: 2px;
	height: 2.1vw;
	
	background-color: black;
}

.nav-project-schema {
	position: relative;
	display: inline-block;
		
	font-weight: normal;
	margin: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: .4vw;
	color: black;
	text-align: center;
	vertical-align: top;
	
	width: 2.5vw;
	height: 2.1vw;
	background-color: transparent;
	
	outline-style: solid;
	outline-color: black;
	outline-width: 2px;
	outline-offset: -2px;

}

.nav-project-plugin {
	position: relative;
	display: inline-block;
		
	font-weight: normal;
	margin: 0px;
	padding-top: .4vw;
	color: transparent;
	text-align: center;
	vertical-align: middle;
	
	width: 2.5vw;
	height: 2.1vw;
	background-color: white;
	
	border-style: solid;
	border-color: black;
	border-width: 2px;
		
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.splash-video {
	display: inline-block;
	align-content: center;
	vertical-align: middle;
	object-fit: contain;
	
	bottom: 18vh;
	margin: 0;
	padding: 0;
	
	overflow: hidden;
}

.detail-bar {
	position: absolute;

	font-family: 'Inconsolata', monospace;
	font-weight: normal;
	font-size: 1vw;
		
	bottom: 15px;
	left: 24.25%;
		
	margin-top: 1vw;
	padding-top: .4vw;
	color: white;
	text-align: center;
	vertical-align: bottom;
	
	line-height: 1.5vw;
	
	width: 51.75%;
	height: 2.1vw;
	background-color: black;
}

/*
  -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
*/